@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Montserrat:wght@100&family=Poppins:wght@100;200;300;600&display=swap");
h2 {
  font-family: "poppins", sans-serif;
  color: white;
  font-size: 13px;
  letter-spacing: 5px;
  z-index: 3;
  font-weight: 300;
}

h3 {
  font-family: "poppins", sans-serif;
  color: white;
  font-size: 25px;
  letter-spacing: 5px;
  margin-bottom: 1em;
  text-transform: uppercase;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  overflow-x: hidden;
  transition: background-color 0.1s ease;
  height: 1vh;
}

main {
  padding: 0 5vw;
}
@media (min-width: 1025px) {
  main {
    padding: 0 15vw;
  }
}

.panel {
  min-height: 100vh;
}

.color-pink {
  background-color: white;
}

.color-purple {
  background-color: black;
}

a:visited {
  text-decoration: none;
  outline: none;
}

/*#6DA092, #3E646B, #B9B4B0  2E0014*/
.main-container .project-reverse {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .main-container .project-reverse {
    display: grid;
    -moz-column-gap: 3em;
         column-gap: 3em;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }
}
@media (min-width: 1025px) {
  .main-container .project-reverse {
    margin-bottom: 4em;
  }
}
.main-container .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
  overflow-x: hidden;
  -moz-column-gap: 3em;
       column-gap: 3em;
}
@media (min-width: 768px) {
  .main-container .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1025px) {
  .main-container .project {
    margin-bottom: 4em;
  }
}
.main-container .project-text {
  font-family: "poppins", sans-serif;
  color: white;
  line-height: 2;
  letter-spacing: 3px;
  text-align: center;
  font-size: 13px;
  font-weight: lighter;
}
@media (min-width: 768px) {
  .main-container .project-text {
    text-align: right;
  }
}
@media (min-width: 1025px) {
  .main-container .project-text {
    text-align: right;
    margin-bottom: 15vh;
  }
}
.main-container .project-text .link-indicator {
  margin-top: 1em;
  text-decoration: underline;
}
.main-container .text-left {
  text-align: center;
}
@media (min-width: 768px) {
  .main-container .text-left {
    text-align: left;
  }
}
.main-container .text-dark {
  color: black;
}
.main-container .item {
  width: 350px;
  height: 350px;
  -webkit-clip-path: circle(40%);
          clip-path: circle(40%);
  margin-bottom: 15vh;
  margin-top: 2em;
  justify-self: center;
  align-self: center;
  overflow-x: hidden;
  overflow-y: hidden;
  outline: none;
}
@media (min-width: 768px) {
  .main-container .item {
    margin-top: 10em;
  }
}
@media (min-width: 1025px) {
  .main-container .item {
    margin-top: 0;
  }
}
.main-container .item img {
  width: 100%;
  /*container height - (border thickness * 2) */
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-left: 1em;
}
.landing #background-video {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.landing .text {
  font-family: "Poppins", sans-serif;
  position: relative;
  color: #fff;
  font-weight: 400;
  font-size: 9px;
  transform: scale(2);
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
@media (min-width: 1025px) {
  .landing .text {
    font-size: 45px;
    transform: scale(2);
    letter-spacing: 14px;
    margin-bottom: 33px;
    font-weight: 200;
  }
}
@media (min-width: 768px) {
  .landing .text {
    font-size: 25px;
    transform: scale(2);
    letter-spacing: 14px;
    font-weight: 200;
  }
}
.landing .subtitle {
  text-align: center;
  font-size: 9px;
}
@media (min-width: 768px) {
  .landing .subtitle {
    font-size: 13px;
  }
}

.project-description {
  font-size: 13px;
  font-family: "poppins", sans-serif;
  color: white;
  letter-spacing: 3px;
  text-align: justify;
  line-height: 2;
  margin-bottom: 30vh;
}
@media (min-width: 768px) {
  .project-description {
    height: 50vh;
    margin-bottom: 10vh;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer p,
.footer a {
  font-family: poppins, sans-serif;
  color: white;
  font-size: 15px;
  letter-spacing: 14px;
  text-decoration: none;
  font-size: 5vmin;
  line-height: 2;
}
.footer p:hover,
.footer a:hover {
  text-decoration: line-through;
  transition: ease 0.5s;
}

.loader {
  height: 100%;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  transition: all 1.2s ease-out 0.3s;
}
.loader__gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
}
@media (min-width: 768px) {
  .loader__gif {
    width: 35%;
    height: auto;
  }
}/*# sourceMappingURL=main.css.map */