* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow-x: hidden;
    transition: background-color 0.1s ease;
    height: 1vh;
  
   
}


.panel {
    min-height: 100vh;
}

a:visited{
    text-decoration: none;
    outline: none;
}

