.landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;


    #background-video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
      }


    .text {
        font-family: 'Poppins', sans-serif;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 20px;
        text-transform: uppercase;
        margin-bottom: 22px;
        text-align: center;


        @include lg {
            font-size: 4em;
            letter-spacing: 30px;
            margin-bottom: 33px;
            font-weight: 200;

        }

        @include md {
            font-size: 4em;
            letter-spacing: 30px;
            font-weight: 200;

        }
    }


    .subtitle {
        font-size: 9px;
        letter-spacing: 3px;

        @include md {
            font-size: 13px;
            letter-spacing: 5px;

        }
    }
}
