@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Montserrat:wght@100&family=Poppins:wght@100;200;300;600&display=swap');


$main-font: 'poppins',
sans-serif;

$accent-font: 'Coda',
cursive;


h1{
    display: inline-block;
    margin-left: 15px;
}

h2 {
    font-family: $main-font;
    color: white;
    font-size: 13px;
    letter-spacing: 5px;
    z-index: 3;
    font-weight: 300;
}


a {
    text-decoration: none;
}